.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;

  background-color: var(--primary);

  border-radius: 1rem;
}

.table {
  font-size: 16px;
  text-align: left;

  width: 100%;
  margin: 20px 0;

  border-collapse: collapse;
}

.tableHeader {
  background-color: var(--primary);

  th {
    padding: 1rem;
  }
}

.body {
  background-color: var(--background);
  td {
    height: 7rem;
    padding: 1rem;
    border: 1px solid #ddd;
  }
}

.thumbnail {
  height: 2rem;
}

.img {
  width: auto;
  height: 7rem;
  object-fit: contain;
}

.data {
  cursor: pointer;
}

/* Search box styling */
.inputSearch {
  margin: 10px 0;
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;

  border: none;
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

/* Discount badge styling */
.discountBadge {
  background-color: #ff5e57;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav {
  font-size: 1.6rem;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.dropdown {
  color: var(--text);
  font-size: 1.4rem;

  background-color: transparent;
  padding: 0.25rem 1.5rem;

  border: 1px solid var(--text);
  border-radius: 0.5rem;
}

.dropdown.limit::after {
  content: "Per Page";
  top: 0;
  left: 0;
}
