.header {
  display: flex;
  justify-content: center;
  padding: 1rem 2rem;

  background-color: var(--primary);

  h1 {
    color: var(--background);
  }
}

/* Search box styling =============================== */
.searchSection {
  position: relative;
  z-index: 2;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 1rem 0;
}

.searchInput {
  font-size: 16px;

  background-color: #ffffff;
  height: 3rem;
  width: 90%;
  padding: 2rem 1rem;

  border: 2px solid var(--text);
  border-radius: 3px;
}

.clearSearchButton {
  position: absolute;
  right: 12%;

  color: black;
  font-size: 1.3rem;
  font-weight: bold;

  background-color: transparent;
  border: none;

  cursor: pointer;
}
/* table css ====================================== */
.table {
  font-size: 16px;
  text-align: left;

  width: 100%;
  margin: 20px 0;

  /* border-collapse: collapse; */
  border: 1px solid #ddd;

  tr {
    border: 1px solid #ddd;
  }
}

.tableHeader {
  background-color: var(--secondary);

  th {
    padding: 1rem;
  }
}

.body {
  background-color: var(--background);
  td {
    padding: 1rem;
    border: 1px solid #ddd;

    border-style: none;
  }
}

.img {
  width: auto;
  height: 100px;
  object-fit: contain;
}

.data {
  cursor: pointer;
}

/* Discount badge styling */
.discountBadge {
  color: var(--background);
  font-size: 1rem;
  font-weight: 600;

  background-color: var(--primary);
  margin-top: 1rem;
  margin-left: 1rem;

  padding: 5px 10px;
  border-radius: 100rem;

  text-align: center;
  display: inline-block;
}

.actionButton {
  color: var(--background);
  font-size: 1rem;

  background-color: var(--primary);
  padding: 0.5rem 1rem;
  margin: 1rem 2rem;

  border: none;
  border-radius: 0.5rem;

  cursor: pointer;
}

.actionButton:hover {
  background-color: var(--text);
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav {
  font-size: 1.6rem;
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.dropdown {
  color: black;
  font-size: 1.1rem;

  background-color: transparent;
  padding: 0.9rem;

  width: 100px;

  border: 1px solid var(--text);
  border-radius: 0.3rem;
}

.dropdown.limit {
  width: 150px;
}
