/* Modal */
.background {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
}

.modal {
  position: relative;

  display: flex;
  flex-direction: column;

  gap: 3rem;
  overflow-y: scroll;

  background-color: var(--background);
  width: 50vw;
  height: 85vh;

  border-radius: 10px;
}

.header {
  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--background);
  width: 100%;
  padding: 1rem 2rem;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
  font-size: 1.5rem;
  font-weight: bold;

  background-color: transparent;
  margin-left: auto;

  border: none;

  cursor: pointer;
  margin-right: 2rem;

  transition: all 0.18s ease-in-out;
}

.close:hover {
  color: var(--accent);
}

/* form ================================= */

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin: 0 2rem;

  label {
    font-size: 1.5rem;
    font-weight: bold;
  }

  input {
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;

    background-color: var(--secondary);
    margin-left: 0.5rem;
    padding: 0.5rem;

    border: none;
    border-radius: 0.5rem;
  }

  input[type="file"] {
    background-color: transparent;
  }
}

.imgThumbnailContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
}

.imgThumbnail {
  height: 20rem;
}

.imgPreviewContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.imgPreview {
  height: 5rem;
  border-radius: 0.5rem;
}

.imgPreview.selected {
  border: 1px solid var(--accent);
}

.navButton {
  font-size: 1.5rem;

  background-color: transparent;
  padding: 4rem 1rem;

  border: none;
  border-radius: 1rem;

  cursor: pointer;
  transition: all 0.18s ease-in-out;
}

.navButton:hover {
  background-color: var(--accent);
}

.footer {
  position: sticky;
  top: 100%;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: var(--background);
  width: 100%;
  padding: 1rem 2rem;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.button {
  color: var(--background);
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;

  background-color: var(--accent);
  padding: 10px 20px;
  margin-bottom: 1.5rem;

  border: none;
  border-radius: 5px;

  cursor: pointer;
}

.button:hover {
  background-color: var(--text);
}
