@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap"); */

:root {
  --text: #6f707c;
  --background: #fffffe;
  --primary: #1481f5;
  --secondary: #f3f4f6;
  --accent: #ef4565;
}

* {
  box-sizing: border-box;

  transition: all 0.18s ease-in-out;
}

h1,
p,
li,
button,
input,
textarea,
th,
td {
  color: black;
  font-family: sans-serif;

  margin: 0;
}
