@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

:root {
  --text: #094067;
  --background: #fffffe;
  --primary: #3da9fc;
  --secondary: #90b4ce;
  --accent: #ef4565;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  transition: all 0.18s ease-in-out;
}

h1,
h2,
h3,
h4,
p,
label,
li,
button,
input,
th,
td {
  color: var(--text);
  font-family: "Gabarito";

  margin: 0;
}
